<p>habilitacion-consultor works!</p>
<mat-card>
  <mat-card-header>
    <mat-card-title>Administraci&oacute;n de Correlativos</mat-card-title>
    <mat-card-subtitle>Nombre Completo</mat-card-subtitle>
  </mat-card-header>
  <!-- src/app/components/entity-list/entity-list.component.html -->
  <table>
    <tr *ngFor="let entity of entities">
      <td>
        {{ entity.id_consultor }}
      </td>
      <td>
        {{ entity.nombres }}
      </td>
      <td>
        {{ entity.ap_paterno }}
      </td>
      <td>
        {{ entity.ap_materno }}
      </td>
      <td>
        {{ entity.tercer_apellido }}
      </td>
    </tr>
  </table>

  <br>
  <!-- <app-resultados-busqueda *ngIf="!kill" (backToFind)="xpandBq($event)" (busqueda)="buscar()"></app-resultados-busqueda> -->
</mat-card>
